*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)),url(./pexels-freemockupsorg-775219.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    margin: auto;
    margin-right: 10px;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
}